@using SeaCargo.Security
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Site Control</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META Http-Equiv="Cache-Control" Content="no-cache" />
    <META Http-Equiv="Pragma" Content="no-cache" />
    <META Http-Equiv="Expires" Content="0" />
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="~/Content/AdminPages/bootstrap/css/bootstrap.min.css" />
    <link href="~/Content/AdminPages/css/main.css" rel="stylesheet">
    <link href="~/Content/AdminPages/css/font-style.css" rel="stylesheet">
    <link href="~/Content/AdminPages/css/flexslider.css" rel="stylesheet">
    <link href="~/Content/AdminPages/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/AdminPages/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/AdminPages/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/AdminPages/js/lineandbars.js"></script>

    <script type="text/javascript" src="~/Content/AdminPages/js/dash-charts.js"></script>
    <script type="text/javascript" src="~/Content/AdminPages/js/gauge.js"></script>

    <!-- NOTY JAVASCRIPT -->
    <script type="text/javascript" src="~/Content/AdminPages/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="~/Content/AdminPages/js/noty/layouts/top.js"></script>
    <script type="text/javascript" src="~/Content/AdminPages/js/noty/layouts/topLeft.js"></script>
    <script type="text/javascript" src="~/Content/AdminPages/js/noty/layouts/topRight.js"></script>
    <script type="text/javascript" src="~/Content/AdminPages/js/noty/layouts/topCenter.js"></script>

    <!-- You can add more layouts if you want -->
    <script type="text/javascript" src="~/Content/AdminPages/js/noty/themes/default.js"></script>
    <!-- <script type="text/javascript" src="assets/js/dash-noty.js"></script> This is a Noty bubble when you init the theme-->
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script src="~/Content/AdminPages/js/jquery.flexslider.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/AdminPages/js/admin.js"></script>
    <script src="~/Scripts/tinymce.min.js"></script>
    <script src="~/Scripts/AddUser.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    $(document).ready(function () {

        $("#btn-blog-next").click(function () {
            $('#blogCarousel').carousel('next')
        });
        $("#btn-blog-prev").click(function () {
            $('#blogCarousel').carousel('prev')
        });

        $("#btn-client-next").click(function () {
            $('#clientCarousel').carousel('next')
        });
        $("#btn-client-prev").click(function () {
            $('#clientCarousel').carousel('prev')
        });

    });

    $(window).load(function () {

        $('.flexslider').flexslider({
            animation: "slide",
            slideshow: true,
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });

    </script>
</head>
<body>

    <!-- NAVIGATION MENU -->
    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="~/Content/images/logo.png" alt="" style="width:35px;">Adaa</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href='@Url.Action("Index","AdminHome")'><i class="icon-home icon-white"></i> Home</a></li>
                    @*<li><a href="tables.html"><i class="icon-th icon-white"></i> Tables</a></li>
                    <li><a href="login.html"><i class="icon-lock icon-white"></i> Login</a></li>
                    <li><a href="user.html"><i class="icon-user icon-white"></i> User</a></li>*@
                </ul>

                @Html.Partial("_LoginPartial")
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="min-height:60rem;">
                @RenderBody();
            </div>

            </div>
        </div>
            <div id="footerwrap">
                <footer class="clearfix"></footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <p><img src="~/Content/images/logo.png" alt="" style="width:60px;"></p>
                            <p>International Gold Step - Copyright 2016</p>
                        </div>
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /footerwrap -->
   
            @RenderSection("scripts", required: false)
    <script src="~/Scripts/addArticles.js"></script>

    @*<script type="text/javascript">
        $(function () {
            console.log("بسم الله الرحمن الرحيم");
            $(document).on("click", ".getInfo", function (e) {
                e.preventDefault();
                var row = $(this).closest('tr'); // get the table row
                var pId = row.find('.getId'); // get the post id
                var artId = pId.eq(0).text();

                var pImg = row.find('.pstImg'); // get the post img
                var pstImg = pImg.eq(0).attr("src");

                var pSm = row.find('.getSm'); // get the post img
                var pSmm = pSm.eq(0).text();

                var t1 = $(this).text();
                var action = $(this).data("action");
                var controller = $(this).data("controller");

                //artId = controller + "/" + action + "/" + artId;
                $('#a_title').val(t1);
                //$('#a_link').val("http://www.geventoman.com/" + controller + "/" + action + "/" + artId);
                $('#a_link').val("http://geventoman.com/" + controller + "/" + action + "/" + artId);
                $('#a_img').val(pstImg);
                $("#myimg").attr("src", pstImg);
                $("#a_desc").val(pSmm);

            });
        })
    </script>*@

</body>
</html>