<!--
  footer  start
  ============================= -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="block wow fadeInLeft" data-wow-delay="200ms">
                    <h3>CONTACT <span>INFO</span></h3>
                    <div class="info">
                        <ul>
                            <li>
                                <h4><i class="fa fa-phone"></i>Telefone</h4>
                                <p>(00) 968 23369229</p>
                                <h4 style="padding-top:10px;"><i class="fa fa-fax"></i>Fax</h4>
                                <p>(00) 968 23369559</p>

                            </li>
                            <li>
                                <h4><i class="fa fa-map-marker"></i>Address</h4>
                                <p>23July Stree Salalah, Dhofar Sultanate Of Oman</p>
                            </li>
                            <li>
                                <h4><i class="fa fa-envelope"></i>E mail</h4>
                                <p>info@igoldstep.com </p>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
            <div class="col-md-4">
                <div class="block wow fadeInLeft" data-wow-delay="700ms">
                    <h3>LATEST <span>COMPANY NEWS</span></h3>
                    <div class="blog">
                        <ul>
                            <li>
                                <h4><a href="#">Feb 15-2016</a></h4>
                                <p>Importaing a shippment of animal feeds and bills of roadgrass</p>
                            </li>
                            <li>
                                <h4><a href="#">Jun 20-2016</a></h4>
                                <p>Visit to Salalah Port and conducting a series of mettings</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
            <div class="col-md-4">
                <div class="block wow fadeInLeft" data-wow-delay="1100ms">
                    <div class="gallary">
                        <h3>PHOTO <span>STREAM</span></h3>
                        <ul>
                            <li>
                                <a href="#"><img src="~/Content/images/photo/photo-1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Content/images/photo/photo-2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Content/images/photo/photo-3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Content/images/photo/photo-4.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-media-link">
                        <h3>Follow <span>US</span></h3>
    <ul>
        <li>
            <a href="https://twitter.com/igs20152016">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/International-GOLD-STEP-LLC-444025622454561/">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        
    </ul>
                    </div>
                </div>
            </div>
            <!-- .col-md-4 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #footer close -->
<!--
footer-bottom  start
============================= -->
<footer id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <p>Copyright &copy; 2016 - All Rights Reserved.Design and Developed By <a href="#">N.M. Tabook</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
